@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("@/assets/fonts/IBMPlexSans-Regular.woff2") format("woff2"), 
    url("@/assets/fonts/IBMPlexSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBM Plex Sans";
  src:
    url("@/assets/fonts/IBMPlexSans-SemiBold.woff2") format("woff2"), 
    url("@/assets/fonts/IBMPlexSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
