:root {
  --background-color: 238,238,238;
  --intro-background-color: 255,255,255;
  --text-color: 51,51,51;
  --accent-color: 51,51,51;
  --invert-filter: none;

  /* to be removed */
  --teased-color: 23,23,23;
  --accent-color-hover: 255,115,131;

  --focus-color: #4EA0F2;
  --transition-duration: 0.1s;
  --transition-duration-long: 0.3s;
  --transition-timing: ease-in-out;
}
